body {
    background-color: #1ef5f5;
    color: #ffffff;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
        "DejaVu Sans", Verdana, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
